.banner.section {
    background-image: url('/assets/banner/black.jpg');
    background-size: contain;
    background-color: black;
}

.banner.section,
.banner.section .row {
    height: 80vh;
}

.video-wrapper video {
    border: 2px solid var(--primary);
    border-radius: var(--borderRadius);
}

@media (max-width: 560px) {
    .banner.section,
    .banner.section {
        height: 50vh;
    }
}