.banner.section {
    background-image: none;
    background-color: var(--black);
}

.banner.section,
.banner-section .row.flex-col.center {
    height: 110vh;
}

.banner.section .row.flex-col.center {
    gap: 20px;
    flex-flow: column;
}

.contact.grey h2 {
    color: var(--white);
}

.form-section h1,
.form-section p {
    width: 100%;
    text-align: left;
}