.banner {
    justify-content: center;
    height: 90vh;
    background-image: url('/home/img/banner.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    position: relative;
}

.banner .row {
    color: var(--white);
    z-index: 10;
}

.banner.section .row.flex-col.center {
    gap: 0;
}

.banner h1,
.banner p {
    text-align: center;
    width: 55%;
}

@media (max-width: 560px) {
    .banner {
        height: 70vh;
    }

    .banner h1,
    .banner p {
        width: 100%;
    }
}