.banner.section {
    background-image: url('/about/img/banner.jpg');
}

.banner.section,
.banner.section .row {
    height: 80vh;
}

@media (max-width: 560px) {
    .banner.section,
    .banner.section {
        height: 50vh;
    }
}